---
import ArticlePoem from "@src/assets/utils/Article-Poem.astro";
import AtrasComponent from "@src/assets/utils/Atras-Component.astro";
import Layout from "@src/layouts/Page-Reading-Layout.astro";
import TitlePoem from "@src/assets/utils/Title-Poem.astro";

import { getCollection, render } from "astro:content";

const poems = await getCollection("poems");

export async function getStaticPaths() {
  return poems.map((poem) => {
    const slug = poem.id.replace(/\.[^/.]+$/, "");

    return {
      params: { id: slug },
    };
  });
}

const { id } = Astro.params;
const slug = id;

const poem = poems.find((poem) => poem.id.replace(/\.[^/.]+$/, "") === slug);

if (!poem) {
  throw new Error(`Poema con id "${id}" no encontrado.`);
}

const { data } = poem;
const { title, description, img } = data;
const { Content } = await render(poem);
---

<Layout title={title} description={description}>
  <AtrasComponent slot="header" />
  <section
    class="w-auto h-auto flex flex-col items-center justify-center"
    slot="main"
  >
    <TitlePoem title={title} />
    <ArticlePoem img={img} slug={slug}>
      <Content />
    </ArticlePoem>
  </section>
</Layout>
